**/snapshots
**/inference_graphs
**/training_inputs
**/training_inputs2
**/split_training_maps
**/test_outputs
**/logs
**/videos
**/training_maps
**/test_inputs
**/large_training
**/.vs
**/.VS2010
vba-rerecording/zmq_files/x86-Release/
**/gameplay_frames
